{% extends 'base.html' %}
{% block head %}


  <header class="py-3 mb-4 border-bottom">
    <div class="container d-flex flex-wrap justify-content-center">
      <a href="/" class="d-flex align-items-center mb-3 mb-lg-0 me-lg-auto text-dark text-decoration-none">
        <svg xmlns="http://www.w3.org/2000/svg" width="46" height="46" fill="currentColor" class="bi bi-mortarboard-fill" viewBox="0 0 16 16">
          <path d="M8.211 2.047a.5.5 0 0 0-.422 0l-7.5 3.5a.5.5 0 0 0 .025.917l7.5 3a.5.5 0 0 0 .372 0L14 7.14V13a1 1 0 0 0-1 1v2h3v-2a1 1 0 0 0-1-1V6.739l.686-.275a.5.5 0 0 0 .025-.917l-7.5-3.5Z"/>
          <path d="M4.176 9.032a.5.5 0 0 0-.656.327l-.5 1.7a.5.5 0 0 0 .294.605l4.5 1.8a.5.5 0 0 0 .372 0l4.5-1.8a.5.5 0 0 0 .294-.605l-.5-1.7a.5.5 0 0 0-.656-.327L8 10.466 4.176 9.032Z"/>
        </svg>
        <span class="fs-9 text-dark "><b>Student Management</b></span>
      </a>
      <form class="col-12 col-lg-auto mb-3 mb-lg-0 form-inline" role="search" method="post" action="{% url 'show' %}">
        {% csrf_token %}
        <input type="search" class="form-control" placeholder="Type the name...." aria-label="Search" name="search">
        <button class="btn btn-primary btn-sm text-light inline" >Search</button>
      </form>
    </div>
  </header>

  <div class="container m-3">
    <div class="row">
      <div class="col-5 offset-5" >
      <form action="" method="post">
        {% csrf_token %}
        {{pu.as_p}}

        <input type="submit" value="save" class="btn btn-primary" style="margin-left:40% ;">
      </form>
      </div>
    </div>
       

     
  </div>

  {% endblock head %}
  